body {
  font-family: Arial, Helvetica, sans-serif;
}

.error-message {
  color: lightcoral;
}

/* Table Formatting */
#table-name {
  color: lightgray;
}
table {
  border-spacing: 0;
}
th, td {
  display: table-cell;
  height: 8pt;
  border: 1px solid rgb(209, 209, 209);
  padding: 6pt 6pt 6pt 6pt;
  margin: 0;
}

/* Row Colouring */
tr:nth-child(odd) {
  background-color: rgb(195, 202, 212);
}
tr:nth-child(odd) td {
  border-color: rgb(155, 167, 185);
}

tr:first-child {
  background-color: rgb(180, 213, 255);
}
tr:first-child th {
  border-color: rgb(132, 175, 231);
}