body {
  font-family: Arial, Helvetica, sans-serif;
}

.error-message {
  color: lightcoral;
}

/* Table Formatting */
#table-name {
  color: lightgray;
}
table {
  border-spacing: 0;
}
th, td {
  display: table-cell;
  height: 8pt;
  border: 1px solid rgb(209, 209, 209);
  padding: 6pt 6pt 6pt 6pt;
  margin: 0;
}
th {
  background-color: rgb(180, 213, 255);
  border-color: rgb(132, 175, 231);
  position: sticky;
  top: 0;
}
tr:nth-child(odd) td {
  background-color: rgb(195, 202, 212);
  border-color: rgb(155, 167, 185);
}