body {
  font-family: Arial, Helvetica, sans-serif;
}

.error-message {
  color: lightcoral;
}

/* Table Formatting */
#table-name {
  color: lightgray;
}
#table-holder {
  border-bottom: 1px solid rgb(209, 209, 209);
  width: fit-content;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: overlay;
}
table {
  width: 100%;
  border-spacing: 0;
  font-size: clamp(10px, 2vw, 16px);
}
th, td {
  display: table-cell;
  height: 8pt;
  border: 1px solid rgb(209, 209, 209);
  padding: clamp(6px, 1.2vw, 8pt);
  margin: 0;
}
th {
  background-color: rgb(180, 213, 255);
  border-color: rgb(132, 175, 231);
}
tr:nth-child(odd) td {
  background-color: rgb(195, 202, 212);
  border-color: rgb(155, 167, 185);
}
tr:has(th) {
  box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
}
